<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e867c6">  <td>20/01/14 14:42:28</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginRegisterPageSuvideals_TC.openURL()[pri:0, instance:suvidealsTestcases.LoginRegisterPageSuvideals_TC@12d3a4e9]">&gt;&gt;openURL</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2013559698</td>   <td></td> </tr>
<tr bgcolor="e867c6">  <td>20/01/14 14:42:41</td>   <td>13108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegisterPageSuvideals_TC.loginRegPage()[pri:0, instance:suvidealsTestcases.LoginRegisterPageSuvideals_TC@12d3a4e9]">&gt;&gt;loginRegPage</td> 
<td>&nbsp;</td>  <td>main@2013559698</td>   <td></td> </tr>
<tr bgcolor="e867c6">  <td>20/01/14 14:42:42</td>   <td>14125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegisterPageSuvideals_TC.createNewAct()[pri:0, instance:suvidealsTestcases.LoginRegisterPageSuvideals_TC@12d3a4e9]">createNewAct</td> 
  <td>main@2013559698</td>   <td></td> </tr>
<tr bgcolor="e867c6">  <td>20/01/14 14:42:44</td>   <td>16144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegisterPageSuvideals_TC.loginRegPage()[pri:0, instance:suvidealsTestcases.LoginRegisterPageSuvideals_TC@12d3a4e9]">&gt;&gt;loginRegPage</td> 
<td>&nbsp;</td>  <td>main@2013559698</td>   <td></td> </tr>
<tr bgcolor="e867c6">  <td>20/01/14 14:42:45</td>   <td>17081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegisterPageSuvideals_TC.verifyLogin()[pri:1, instance:suvidealsTestcases.LoginRegisterPageSuvideals_TC@12d3a4e9]">verifyLogin</td> 
  <td>main@2013559698</td>   <td></td> </tr>
<tr bgcolor="e867c6">  <td>20/01/14 14:42:47</td>   <td>19307</td> <td>&nbsp;</td><td title="&lt;&lt;LoginRegisterPageSuvideals_TC.closeURL()[pri:0, instance:suvidealsTestcases.LoginRegisterPageSuvideals_TC@12d3a4e9]">&lt;&lt;closeURL</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2013559698</td>   <td></td> </tr>
</table>
