<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c5aad4">  <td>20/01/14 14:49:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChkoutFlowA_TC.buyFirstProdTC()[pri:0, instance:suvidealsTestcases.ChkoutFlowA_TC@4c1909a3]">buyFirstProdTC</td> 
  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>20/01/14 14:47:45</td>   <td>-76257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageSuvideals_TC.closeURL()[pri:0, instance:suvidealsTestcases.HomePageSuvideals_TC@342c38f8]">&lt;&lt;closeURL</td> 
<td>&nbsp;</td>  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>20/01/14 14:48:01</td>   <td>-60426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageSuvideals_TC.closeURL()[pri:0, instance:suvidealsTestcases.HomePageSuvideals_TC@7bab3f1a]">&lt;&lt;closeURL</td> 
<td>&nbsp;</td>  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="6282c1">  <td>20/01/14 14:48:21</td>   <td>-40493</td> <td>&nbsp;</td><td title="&lt;&lt;LoginRegisterPageSuvideals_TC.closeURL()[pri:0, instance:suvidealsTestcases.LoginRegisterPageSuvideals_TC@659499f1]">&lt;&lt;closeURL</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="6282c1">  <td>20/01/14 14:48:45</td>   <td>-16567</td> <td>&nbsp;</td><td title="&lt;&lt;LoginRegisterPageSuvideals_TC.closeURL()[pri:0, instance:suvidealsTestcases.LoginRegisterPageSuvideals_TC@26e356f0]">&lt;&lt;closeURL</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="6282c1">  <td>20/01/14 14:48:19</td>   <td>-42263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegisterPageSuvideals_TC.createNewAct()[pri:0, instance:suvidealsTestcases.LoginRegisterPageSuvideals_TC@659499f1]">createNewAct</td> 
  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="c5aad4">  <td>20/01/14 14:48:58</td>   <td>-3343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChkoutFlowA_TC.homePage()[pri:0, instance:suvidealsTestcases.ChkoutFlowA_TC@4c1909a3]">&gt;&gt;homePage</td> 
<td>&nbsp;</td>  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="6282c1">  <td>20/01/14 14:48:18</td>   <td>-43449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegisterPageSuvideals_TC.loginRegPage()[pri:0, instance:suvidealsTestcases.LoginRegisterPageSuvideals_TC@659499f1]">&gt;&gt;loginRegPage</td> 
<td>&nbsp;</td>  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="6282c1">  <td>20/01/14 14:48:42</td>   <td>-19391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegisterPageSuvideals_TC.loginRegPage()[pri:0, instance:suvidealsTestcases.LoginRegisterPageSuvideals_TC@26e356f0]">&gt;&gt;loginRegPage</td> 
<td>&nbsp;</td>  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>20/01/14 14:47:33</td>   <td>-87918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageSuvideals_TC.openURL()[pri:0, instance:suvidealsTestcases.HomePageSuvideals_TC@342c38f8]">&gt;&gt;openURL</td> 
<td>&nbsp;</td>  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>20/01/14 14:47:46</td>   <td>-75370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageSuvideals_TC.openURL()[pri:0, instance:suvidealsTestcases.HomePageSuvideals_TC@7bab3f1a]">&gt;&gt;openURL</td> 
<td>&nbsp;</td>  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="6282c1">  <td>20/01/14 14:48:02</td>   <td>-59214</td> <td>&nbsp;</td><td title="&gt;&gt;LoginRegisterPageSuvideals_TC.openURL()[pri:0, instance:suvidealsTestcases.LoginRegisterPageSuvideals_TC@659499f1]">&gt;&gt;openURL</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="6282c1">  <td>20/01/14 14:48:22</td>   <td>-39556</td> <td>&nbsp;</td><td title="&gt;&gt;LoginRegisterPageSuvideals_TC.openURL()[pri:0, instance:suvidealsTestcases.LoginRegisterPageSuvideals_TC@26e356f0]">&gt;&gt;openURL</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="c5aad4">  <td>20/01/14 14:48:46</td>   <td>-15665</td> <td>&nbsp;</td><td title="&gt;&gt;ChkoutFlowA_TC.openURL()[pri:0, instance:suvidealsTestcases.ChkoutFlowA_TC@4c1909a3]">&gt;&gt;openURL</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>20/01/14 14:47:45</td>   <td>-76287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageSuvideals_TC.verifyHomePageTitle()[pri:0, instance:suvidealsTestcases.HomePageSuvideals_TC@342c38f8]">verifyHomePageTitle</td> 
  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="6282c1">  <td>20/01/14 14:48:43</td>   <td>-18453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegisterPageSuvideals_TC.verifyLogin()[pri:1, instance:suvidealsTestcases.LoginRegisterPageSuvideals_TC@26e356f0]">verifyLogin</td> 
  <td>main@1436633036</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>20/01/14 14:47:58</td>   <td>-62958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageSuvideals_TC.verifyWareHousePage()[pri:1, instance:suvidealsTestcases.HomePageSuvideals_TC@7bab3f1a]">verifyWareHousePage</td> 
  <td>main@1436633036</td>   <td></td> </tr>
</table>
