<h2>Methods that were not run</h2><table>
<tr><td>suvidealsTestcases.HomePageSuvideals_TC.verifyWareHousePage</td></tr>
<tr><td>suvidealsTestcases.HomePageSuvideals_TC.verifyHomePageTitle</td></tr>
<tr><td>suvidealsTestcases.LoginRegisterPageSuvideals_TC.verifyLogin</td></tr>
<tr><td>suvidealsTestcases.LoginRegisterPageSuvideals_TC.createNewAct</td></tr>
</table>